@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 9px;
  font-family: Inter;
  @media (min-width: 600px) {
    font-size: 12px;
  }
  @media (min-width: 800px) {
    font-size: 14px;
  }
  @media (min-width: 1200px) {
    font-size: 16px;
  }
}

body {
  width: 100vw !important;
  overflow-x: hidden;
}

.container {
  display: grid;
  grid-template-columns: 10fr 7fr;
  gap: 1.5rem;

  background-image: url("/bg.jpeg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: 26px;
  color: white;

  &-left {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .left-bottom {
      display: flex;
      gap: 1.5rem;

      .wrapper {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
      }

      @media (max-width: 700px) {
        flex-direction: column;
      }
    }
  }

  &-right {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  @media (max-width: 1300px) {
    grid-template-columns: 1fr;
    padding: 10px;
  }
}

.comp {
  border-radius: 2rem;
  background: rgba(196, 195, 193, 0.4);
}
